.app {
  padding: 2em;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 800px;
}

.app h1 {
  font-size: 2em;
  padding: 0.2em 0 0.7em 0;
}

.app h2 {
  font-size: 1.6em;
  padding: 0.2em 0 0.7em 0;
}

.app h3 {
  font-size: 1.2em;
  padding: 0.2em 0 0.7em 0;
}

.element {
  background-color: #ccc;
}

.container {
  width: 200px;
  height: 200px;
}
